{{ 'section-infoheader.css' | asset_url | stylesheet_tag }}



<!-- Welcome section starts -->


  <section class="infoheader">


    <div>
         <div>
            <h4>{{ section.settings.address }}</h4>
         </div>
       
         <div>
            <h4>{{ section.settings.phone }}</h4>
         </div>
      
         <div>
            <h4>{{ section.settings.email }}</h4>
          </div>

          <div>
            <h4>{{ section.settings.schedule }}</h4>
          </div>
    </div>
    
   
  </section>

 

<!-- Welcome section ends -->


{% schema %}
  {
    "name": "InfoHeader",
    "settings": [
       {
    "id": "address",
    "type": "text",
    "label": "Address"
  },
  {
    "id": "phone",
    "type": "text",
    "label": "Phone"
  },
  {
    "id": "email",
    "type": "text",
    "label": "Email"
  },
  {
    "id": "schedule",
    "type": "text",
    "label": "Schedule"
  }
    ],"presets": [
{
"name": "InfoHeader",
"category": "ADVANCED LAYOUT"
}
]
  }
{% endschema %}

{% javascript %}
{% endjavascript %}