{{ 'section-infoheader.css' | asset_url | stylesheet_tag }}



<!-- Welcome section starts -->


  <section class="infoheader">


    <div>
        <div>
            <h4>{{ section.settings.FooterMenuTitle }}</h4>
              {{ section.settings.FooterMenuText }}
         </div>
       
          <div>
            <h4>{{ section.settings.FooterHelpTitle }}</h4>
           {{ section.settings.FooterHelpText}}
         </div>
         <div>
              <h4>{{ section.settings.FooterServiceTitle }}</h4>
              {{ section.settings.FooterServiceText}}
          </div>     
    </div>
    
   
  </section>

 

<!-- Welcome section ends -->


{% schema %}
  {
    "name": "InfoHeader",
    "settings": [
       {
    "id": "FooterCompetitiveTitle",
    "type": "text",
    "label": "Competitive title"
  },
  {
    "id": "FooterMenuTitle",
    "type": "text",
    "label": "Menu title"
  }
    ],"presets": [
{
"name": "InfoHeader",
"category": "ADVANCED LAYOUT"
}
]
  }
{% endschema %}

{% javascript %}
{% endjavascript %}