{{ 'section-infoheader.css' | asset_url | stylesheet_tag }}

<!-- Welcome section starts -->

<section class="infoheader">
  <div class="page-width">
    <div class="infoheader-list">
      <li>
        {% render 'icon-location' %}
        <a href="{{ section.settings.addressUrl }}">{{ section.settings.address }}</a>
      </li>

      <div class="infoheader-links">
        <li>
          {% render 'icon-phone' %}
          <a href="{{ section.settings.phoneUrl }}">{{ section.settings.phone }}</a>
        </li>
        <li>
          {% render 'icon-email' %}
          <a href="{{ section.settings.emailUrl }}">{{ section.settings.email }}</a>
        </li>
        <li>
          {% render 'icon-calendar' %}
          {{ section.settings.schedule }}
        </li>
      </div>
    </div>
  </div>
</section>

<!-- Welcome section ends -->

{% schema %}
{
  "name": "InfoHeader",
  "settings": [
    {
      "id": "address",
      "type": "text",
      "label": "Address"
    },
    {
      "id": "addressUrl",
      "type": "url",
      "label": "addressUrl"
    },
    {
      "id": "phone",
      "type": "url",
      "label": "Phone"
    },
    {
      "id": "phoneUrl",
      "type": "url",
      "label": "PhoneUrl"
    },
    {
      "id": "email",
      "type": "url",
      "label": "Email"
    },
    {
      "id": "emailUrl",
      "type": "url",
      "label": "EmailUrl"
    },
    {
      "id": "schedule",
      "type": "text",
      "label": "Schedule"
    }
  ],
  "presets": [
    {
      "name": "InfoHeader",
      "category": "ADVANCED LAYOUT"
    }
  ]
}
{% endschema %}

{% javascript %}
{% endjavascript %}
